.slick-next:before,.slick-prev:before{
    color:var(--ingenium-primary);
}

.ingenium-product{
    margin:10px;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 10px;
    min-height: 450px;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ingenium-product img{
    margin:0 auto;
}
.ingenium-product h3{
    margin-top:5px;
    font-size:20px;
}
.ingenium-price{
    font-size:18px;
}
.ingenium-button{
    background: var(--ingenium-primary);
    padding: 5px 20px;
    border-radius: 5px;
    color:white;
    text-align: center;
    margin: 0 auto;
    text-decoration: none !important;
    align-self: flex-end;

}
.ingenium-button:hover{
    color:white;
    background: var(--ingenium-seconday);
}
.ingenium-button:checked{
    color:white;
    background: var(--ingenium-seconday);
}

@media (max-width: 425px) {
    .ingenium-product{
        width: 100% !important;
    }
}